[Unit]
Description=vcontrold service

[Service]
Type=simple
ExecStart=vcontrold -x /etc/vcontrold/vcontrold.xml -n

[Install]
WantedBy=multi-user.target
